<!DOCTYPE html>
<html>
    
    <head>
        <title>Wallet Login Example</title>
    </head>
    
    <body>
        <h1>Wallet Login Example - Login</h1>
        <div><%- JSON.stringify(req.session.user) %></div>
        SignThis:
        <textarea rows="4" cols="50"><%- req.session.key %></textarea>
        <form method="POST" action="/login">
            <hr>Address:
            <input name="address" value="">
            </br>
            CoinType:
            <select name="coinName">
                <% for(var i in addressTypes){ %>
                    <option value="<%- i %>">
                        <%- i %>
                    </option>
                <% } %>
            </select><br>
            
            Signature:
            <input name="sig" value=""><br>
            <input type="submit">
            </br>
        </form>
    </body>

</html>